cscope.* 
tags
cscope.files
cscope.in.out
cscope.out
cscope.po.out

# skynet
luaclib/*.so
cservice/*.so
skynet/*

#############
## cache dir
#############
*.dir
*.so
*.lib
*.dll
*.tlog
*.a
*.bootflag
*.log
*.pid
*.dport

#############
## Cmake
#############
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
3rd/aoi/build/*
