cscope.* 
tags
cscope.files
cscope.in.out
cscope.out
cscope.po.out
3rd/*
skynet

# skynet
luaclib/*.so
cservice/*.so
skynet/*

#############
## cache dir
#############
*.dir
*.so
*.lib
*.dll
*.tlog
*.a
*.bootflag
*.log
*.pid
*.dport
*.o
*.d
*.lo

lua_checker
lua_checker_parser.cc
lua_checker_parser.h
lua_lexxer.cc
lua_lexxer.h
lua_parser.cc
lua_parser.h
lex.yy.c
lua_simplifier
lua_checker_t
lua_checker_t/*


#############
## Cmake
#############
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
3rd/aoi/build/*
